<div class="gram-heading">
  <%= link_to posts_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>

<%= render 'components/post', post: @post %>

<% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment__body">
      <strong><%= comment.user.email %>: </strong><%= comment.body %>
    </div>
    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
    <%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to 'New Comment', new_post_comment_path(params[:post_id]) %><br>
<%= link_to 'Edit', edit_post_path(@post) %><br>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
